.left-sidebar{
    width: 164px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
}

.side-nav{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 60px 0;
    padding: 20px 0px;
    font-size: 13px;
    font-weight: 400;
}

.side-nav p{
    margin: 10px 0;
}

.side-nav-links{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.side-nav-links:hover{
    background-color: rgba(228, 225, 225, 0.2);
    border-radius: 10px 0px 0 10px;
}

.active{
    font-weight: 800;
    color: black;
    background-color: rgba(214, 210, 210, 0.243);
    border-radius: 10px 0px 0 10px;
    border-right: 3px solid #ef8236;
}