.main-bar{
    width: calc(100% - 300px - 25px);
    float: left;
    margin: 25px 0px 0 0;
    padding: 0;
}

.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-header h1{
    font-weight: 400;
    font-size: 30px;
}

.main-bar-header .ask-btn{
    line-height: 1.5;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: hsl(210, 77%, 46%);
    color: white;
    border: none;
    transition: 0.2s;
}

.main-bar-header .ask-btn:hover{
    background-color: hsl(210, 77%, 36%);
}

.display-question-container{
    display: flex;
    align-items: center;
    /* min-height: 125px; */
    max-height: 150px;
    font-size: 13px;
    border-top: 1px solid rgb(219, 217, 217);
}

.user-rating{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin: 15px 0 10px 0;
}

.user-rating div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: gray;
    margin: 0px 0 13px 0;
}
.user-rating div p{
    padding: 0 2px;
    margin: 0;
}

.answer-btn{
    border: 1px solid rgb(38, 148, 66);
    border-radius: 5px;
    padding: 3px 10px;
    color: rgb(38, 148, 66);
    
}

.display-question-details{
    flex-grow: 1;
    /* flex-wrap: wrap; */
    min-height: 105px;
    margin: 15px 0px 0px 15px;
}

.question-title-link{
    position: relative;
    flex-wrap: wrap;
    /* bottom:5px; */
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: hsl(210, 77%, 46%);
    transition: 0.2s;
}
.question-title-link:hover{
    color: hsl(210, 77%, 36%);
}

.question-answer{
    font-size: 13.5px;
    margin: 5px 0 0 0;
}

.display-tags{
    display: flex;
    flex-wrap: wrap;
}

.display-tags p{
    font-size: 12px;
    padding: 2px;
    margin: 0px 7px 0 0;
    background-color: rgb(231, 241, 250);
    color: #3657c5;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.1s ease-in;
}
.display-tags p:hover{
    background-color: rgb(204, 229, 251);
    color: #2e4282;
}

.tags-user{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: hsl(210, 77%, 36%);
}
.tags-user span{
    color: rgb(97, 95, 95);
}

/* Loading effect */

.loading-effect{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-size: 5rem;
}

.loading-effect span{
    animation: animate 5s linear infinite;
}

.loading-effect span:nth-child(1){
    animation-delay: 0s;
}
.loading-effect span:nth-child(2){
    animation-delay: 0.1s;
}
.loading-effect span:nth-child(3){
    animation-delay: 0.2s;
}
.loading-effect span:nth-child(4){
    animation-delay: 0.3s;
}
.loading-effect span:nth-child(5){
    animation-delay: 0.4s;
}
.loading-effect span:nth-child(6){
    animation-delay: 0.5s;
}
.loading-effect span:nth-child(7){
    animation-delay: 0.6s;
}
.loading-effect span:nth-child(8){
    animation-delay: 0.7s;
}

@keyframes animate{
    0%,100%{
        color: #000;
        filter: blur(1.8px);
        text-shadow: 0 0 10px #393a3a,
                     0 0 20px #393a3a,
                     0 0 40px #393a3a,
                     0 0 80px #393a3a,
                     0 0 120px #393a3a,
                     0 0 200px #393a3a,
                     0 0 300px #393a3a,
                     0 0 400px #393a3a,
    }

    25%,75%{
        color: #fff;
        filter: blur(0px);
        text-shadow: none;
    }
}